@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.logo-size {
    height: 105px;
    margin-left: -55px;
  }


  .header-btns{
    padding-left: 95px;
  }